<h2 class='white-headline'>Контактная информация (фактический адрес):</h2>

<ul>
  <li>
    <label>Регион</label>
    <input type='text' placeholder="Регион"/>
  </li>
  <li>
    <label>Город</label>
    <input type='text' placeholder="Город"/>
  </li>
  <li>
    <label>Улица</label>
    <input type='text' placeholder="Ленина"/>
  </li>
  <li>
    <label>Дом</label>
    <input class='short-input' type='text'/>
    <label>Строение</label>
    <input class='short-input' type='text'/>
    <label>Корпус</label>
    <input class='short-input' type='text'/>
  </li>
  <li>
    <label>Телефон</label>
    <input class='mid-input' type='phone' />

    <label>Комментарий</label>
    <input class='mid-input' type='phone' />
    <a href='#/profile/contacts'>Удалить</a>
  </li>
  <li>
    <a class='line-link' href='#/profile/contacts'>Добавить ещё один</a>
  </li>
</ul>

<h2 class='white-headline'> Прочее: </h2>

<ul>
  <li>
    <label>Дополнительная информация</label>
    <textarea> </textarea>
  </li>
</ul>

<h2 class='white-headline'> Юридическая информация: </h2>

<div class='well'>
  <div class='control-container'>
    <span class='control-close'>X</span>
  </div>
  <p>
    Важно! При изменении реквизитов компании необходимо направить администрации портала скан-образы этих документов для подтверждения данных.
  </p>
</div>

<ul>
  <li>
    <label>Юр. название</label>
    <input type='text'/>
  </li>
  <li>
    <label>ОГРН</label>
    <input type='text'/>
  </li>
  <li>
    <md-checkbox> Адрес совпадает с фактическим</md-checkbox>
  </li>
  <li>
    <label>Регион</label>
    <input type='text' placeholder="Регион"/>
  </li>
  <li>
    <label>Город</label>
    <input type='text' placeholder="Город"/>
  </li>
  <li>
    <label>Улица</label>
    <input type='text' placeholder="Улица"/>
  </li>
  <li>
    <label>Дом</label>
    <input class='short-input' type='text'/>
    <label>Строение</label>
    <input class='short-input' type='text'/>
    <label>Корпус</label>
    <input class='short-input' type='text'/>
  </li>
</ul>
<button class="standard-button">Сохранить</button>
