<div class='contact-block'>
  <div class='contact-block-header'>
    Статистика
    <div class='enlarge'>
    </div>
  </div>
  <div class='contact-block-content'>
  </div>
</div>

<div class='contact-block'>
  <div class='contact-block-header'>
    Запись
    <div class='enlarge'>
    </div>
  </div>
  <div class='contact-block-content'>
  </div>
</div>

<div class='contact-block'>
  <div class='contact-block-header'>
    VIN-запросы
    <div class='enlarge'>
    </div>
  </div>
  <div class='contact-block-content'>
  </div>
</div>

<div class='contact-block'>
  <div class='contact-block-header'>
    Консультации
    <div class='enlarge'>
    </div>
  </div>
  <div class='contact-block-content'>
  </div>
</div>
