<section class='reg-info-block'>
  <h2 class='info-block-title'>
    Основная информация
  </h2>
  <div class='info-block-data'>
    <div class='data-row'>
      <label>Тип сервиса</label>
      <select value='Автосервис'></select>
    </div>
    <div class='data-row'>
      <label>Название автосервиса</label>
      <input type='text' placeholder="Название автосервиса"></input>
    </div>
  </div>
</section>
<!-- Контактная информация -->
<section class='reg-info-block'>
  <h2 class='info-block-title'>
    Контактная информация
  </h2>
  <div class='info-block-data'>
    <div class='data-row'>
      <label>Регион</label>
      <select value='Выберите регион'></select>
    </div>
    <div class='data-row'>
      <label>Город</label>
      <select value='Выберите город'></select>
    </div>
    <div class='data-row'>
      <label>Район</label>
      <input type='text' class='input-long'></input>
    </div>
    <div class='data-row'>
      <label>Улица</label>
      <input type='text'></input>
    </div>
    <div class='data-row-double'>
      <label>Дом</label>
      <input type='text'></input>
      <label>Корпус</label>
      <input type='text'></input>
    </div>
    <div class='data-row-double'>
      <label>Строение</label>
      <input type='text'></input>
    </div>
    <div class='data-row'>
      <label>Номер телефона</label>
      <input type='phone' value="+7(___)___-__-__"></input>
    </div>
    <div class='data-row'>
      <label>Номер телефона2</label>
      <input type='phone' value="+7(___)___-__-__"></input>
      <a href='#'>Удалить</a>
    </div>
    <div class='link-row'>
      <a href='#'>Добавить еще один</a>
    </div>
  </div>
</section>
<!-- Обслуживаемые марки -->
<section class='reg-info-block'>
  <div class='info-block-data'>
    <div class='data-row-models'>
      <label>Обслуживаемые марки</label>
      <span class='auto-model'>Renault</span>
      <span class='auto-model'>Aston Martin</span>
      <span class='auto-model'>Opel</span>
      <span class='auto-model'>Nissan</span>
      <a href='#'>Редактировать</a>
    </div>
</section>
<!-- Юр. Инфо -->
<section class='reg-info-block'>
  <div class='info-block-data'>
    <div class='data-row'>
      <label>Юридическое название</label>
      <input type='text'></input>
    </div>
    <div class='data-row'>
      <label>ОГРН</label>
      <input type='text'></input>
    </div>
  </div>
</section>
<!-- Подтверждение -->
<section class='reg-info-block'>
  <div class='info-block-data'>
    <div class='checkbox-row'>
      <input type='checkbox'>
      <label> С <a href='#'> Условиями использования</a> сервиса и <a href='#'> Политикой конфиденциальности</a> ознакомлен. Даю согласие на обработку персональных данных.
      </label>
    </div>
    <div class='button-row'>
      <button class='standard-button'>Отправить</button>
    </div>
  </div>
</section>
